body {
    font-family: 'Segoe ui', sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

content{
  /* min-height: 100vh; */
  flex: 1;
}

body{
/* Hide scrollbare for IE, Edge and firefox */
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{display: none; /* for Chrome, Safari, and Opera */}
  

.PageHeader{
    font-size: 42px;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.PageHeader2{
  font-size: 28px;
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

.PageText{
    font-size: 24px;
    margin-left: 1rem;
    line-height: 28px;
    font-weight: 500;
}

.PageInfo{
    font-size: 20px;
    margin-left: 1rem;
    font-weight: 300;
}

.TjenesterBtn{
    margin-left: 1rem;
    border-style: none;
    padding: 10px;
    color: white;
    background-color: #00453e;
}

.TjenesterBtn:hover{
    background-color: #013731;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}

.container-flex{
    margin: 2rem 0rem 0rem 0rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.container-flex img{
    margin-top: 3rem;
    width: 25%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.container-text-centered{
  text-align: center;
  justify-content: center;
}

.TjenesterDiv{
    flex-wrap: wrap;
}

Bilde slideshow
  .mySlides {
    width: 100%;
    transform: translateY(-40%);  
  }

  img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    overflow: hidden;
    position: relative;
    margin: auto;
    max-height: 500px;
    margin-bottom: 5rem;
  }


  .active {
    background-color: #ffffff;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }

  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 0.4;
    }
    to{
      opacity: 1;
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px;
    }
  } 


  /* Tjenester Liste Styling */

  .tjenesterListe ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .container-tjenester{
    display: flex;
    justify-content: center;
    float: center;
    border-top: solid;
    padding-top: 1rem;
    margin: 20px 25rem 0px 25rem;
  }

  .container-tjenester img{
    margin-right: 5rem;
  }
 
/* Kontakt Liste */

.kontakt-liste{
  list-style-type: none; /* Remove bullets */
}


/* footer */
footer{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
background-color: #00453e;
color: whitesmoke;
margin-bottom: 0; 
margin-top: 20px;
}

footer ul{
  margin-left: 1rem;
  padding: 0;
  list-style-type: none; 
}
footer li{  
  margin-top: 1rem;
}
footer ul a{
  color: #ffffff;
  text-decoration: none;
}

footer ul a:hover{
  color: rgb(0, 123, 255);
  transition: 0.4s;
  text-decoration: none;
}

.DevWatermark{
  color: gray;
  margin-bottom: 0;
}

.DevWatermark a{
  color: gray;
  text-decoration: none; 
}

.DevWatermark a:hover{
  transform: scale(1.6);
  color: rgb(0, 123, 255);
  transition: 0.2s;
} 


/* Navbar Test */


.topnav {
  background-color: #00453e;
  color: whitesmoke;
}

.topnav a {
  vertical-align: middle;
  line-height: 3rem; 
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:nth-child(1) {
  font-size: 28px;
}

.topnav a:hover {
  transform: scale(1.1);
  animation: 1s;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1550px) {
  .container-tjenester{
    margin: 20px 10rem 0px 10rem;
  }
}

/* Media to remove img when screen < 1000px */
@media screen and (max-width: 1000px) {
  .container-flex img{
    display: none;
  }
  .container-tjenester img{
    display: none;
  }
}

@media screen and (max-width: 701px) {
  .container-tjenester{
    display: flex;
    justify-content: center;
    border-top: solid;
    margin: 1rem 2rem 1rem 2rem;
  }

  .slideshow-container{
    margin: 0;
  }

  .container-text{
    width: 100%;
  }

  .container-tjenester li{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  footer{
    grid-template-columns: 1fr;
    align-items: center;
  }
  footer .container-text{
    display: none;
  }
}








