body{
    margin: 0;
    font-family: 'Segoe ui', sans-serif;
    background-color: beige;
}

/* Navbar Styling */
.NavLogo{
    display: inline;
}

.Navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.Navbar li{
    float: left;
}

.Navbar a{
    text-decoration: none;
    color: black;
}

.NavLogo a{
    font-size: 42px;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a{
    font-size: 24px;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 1rem;
    padding: 1rem 1rem;
    text-decoration: none;
}

.nav-item a:hover {
    transform: scale(1.1);
    animation: 1s;
  }

.hamburger{
  display: none;
  cursor: pointer;

}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media(max-width:768px){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .Navbar{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
 

 
  }


.PageHeader{
    font-size: 42px;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.PageHeader2{
  font-size: 28px;
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

.PageText{
    font-size: 24px;
    margin-left: 1rem;
    line-height: 28px;
    font-weight: 500;
}

.PageInfo{
    font-size: 20px;
    margin-left: 1rem;
    font-weight: 300;
}

.TjenesterBtn{
    margin-left: 1rem;
    border-style: none;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 255, 0.801);
}

.TjenesterBtn:hover{
    background-color: rgba(0, 0, 255, 0.901);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}

.container-flex{
    margin: 2rem 2rem 0rem 0rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.container-flex img{
    margin-top: 3rem;
    width: 25%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.container-text-centered{
  text-align: center;
  justify-content: center;
}

.TjenesterDiv{
    flex-wrap: wrap;
}

/* Bilde slideshow */

* {
    box-sizing: border-box;
  }
  body {
    flex-direction: column;
    font-family: Verdana, sans-serif;
  }
  .mySlides {
    width: 100%;
    position: relative;
    top: 25%;
    transform: translateY(-28%);  
  }

  img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    overflow: hidden;
    position: relative;
    margin: auto;
    max-height: 300px;
    margin-bottom: 5rem;
  }


  .active {
    background-color: #ffffff;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }

  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 0.4;
    }
    to{
      opacity: 1;
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px;
    }
  }


  /* Tjenester Liste Styling */

  .tjenesterListe ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .container-tjenester{
    display: flex;
    justify-content: center;
    float: center;
    border-top: solid;
    margin: 20px 25rem 0px 25rem;
  }

  .container-tjenester img{
    margin-right: 5rem;
  }
 
/* Kontakt Liste */

.kontakt-liste{
  list-style-type: none; /* Remove bullets */
}

/* footer */

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}

footer ul{
  margin-left: 1rem;
  padding: 0;
  list-style-type: none; 
}
footer li{  
  margin-top: 1rem;
}
footer ul a{
  color: #979090;
  text-decoration: none;
}

footer ul a:hover{
  color: rgb(156, 69, 69);
  transition: 0.4s;
  text-decoration: none;
}

.DevWatermark{
  color: gray;
  margin-left: 1rem;
}

.DevWatermark a{
  color: gray;
  /* text-decoration: none; */
}

.DevWatermark a:hover{
  transform: scale(1.6);
  color: beige;
  transition: 0.2s;
}

.footer{
  background-color: rgb(42, 42, 42);

}



/* footer fix */

main{
  position: relative;
  min-height: 100vh;
}

content{
  padding-bottom: 2.5rem;
}